.introduction {
    height: 100vh;
    background-image: url('../../assets/images/intro.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.intro-container {
    width: 70%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.intro-title {
    font-size: 50px;
    font-family:cursive;
    font-weight: 600;
}

.intro-author {
    font-size: 25px;
    font-weight: 500;
    margin-top: 50px;
}

.image {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}