.sheet-container {
   background: #f6eed0;
   position: fixed;
   z-index: 1045;
   transition: transform 0.3s ease-out;
   padding: 45px;
}

.open {
   box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
}

.sheet-top, .sheet-bottom {
   width: 100% !important;
   max-height: 50%;
   right: 0;
}

.sheet-top {
   top: 0;
   border-radius: 0 0 20px 20px;
   transform: translateY(-100%);
}

.sheet-right {
   height: 100%;
   top: 0;
   right: 0;
   transform: translateX(100%);
}

.sheet-bottom {
   bottom: 0;
   border-radius: 20px 20px 0 0;
   transform: translateY(100%);
}

.sheet-top.open {
   transform: translateY(0);
}

.sheet-bottom.open {
   transform: translateY(0);
}

.sheet-right.open {
   transform: translateX(0);
}

.backdrop {
   height: 100%;
   background-color: rgb(0, 0, 0, 0.2);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1045;
}
