.categories {
    background-color: rgb(243, 229, 171, 0.6);
    height: 100vh;
    position: relative;
    padding-left: 60px;
    padding-top: 10vh;
}

.scrolling-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 100px;
    height: 100%;
}

.categories-title {
    font-size: 50px;
    font-family:cursive;
    font-weight: 600;
    color: rgb(123,63,0);
}

.categories-button:hover {
    color: rgb(123,63,0);
    border: 1px solid rgb(123,63,0);
}

.categories-image {
    object-fit: cover;
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    transition: transform .5s ease-in-out;
}

.categories-image:hover {
    transform: scale(1.1); 
}

.categories-body {
    border-radius: 0% 0% 10px 10px;
}

.categories-card {
    width: 300px;
    overflow: hidden;
    height: 400px;
    box-shadow: 10px 10px 10px 10px #95928b;
    background-color: transparent;
    border: 0;
}